/* new font */
@font-face {
    font-family: 'bruno';
    src: url('brunoace-regular-webfont.woff2') format('woff2'),
         url('brunoace-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 15px; /* absolute unit */
    font-family: 'bruno';
}

h1 {
    font-size: 5rem; /* relative unit */
    text-align: center;
}

h2 {
    background-color: black;
    color: turquoise;
}

.title {
    margin-top: -8pt; /* absolute unit */
    border-style: solid;
    border-color: red blue green;
    border-width: 5px;
}

.subtitle {
    margin: 2ex 0ex 0ex 0ex; /* relative unit */
    border-style: dashed;
    padding-left: 2mm; /* absolute unit */
    border-radius: 30px;
}

.altsubtitle {
    margin: auto;
    border-style: dashed;
    padding: 0lh 0lh 0lh .4lh; /* relative unit */
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(0, 128, 0, 0.3))
}

.red {
    color: rgb(255,0,0);
}

.blue {
    color: #0000FF;
}

.green {
    color: hsl(120, 100%, 25%);
}

#medusa {
    text-decoration: line-through;
}