/* new font */
@font-face {
    font-family: 'bruno';
    src: url('brunoace-regular-webfont.woff2') format('woff2'),
         url('brunoace-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 15px; /* absolute unit */
    font-family: 'bruno';
}

.start {
    margin-top: 60px;
}

h1 {
    font-size: 5rem; /* relative unit */
    text-align: center;
}

h2 {
    background-color: black;
    color: turquoise;
}

.title {
    margin-top: -8pt; /* absolute unit */
    border-style: solid;
    border-color: red blue green;
    border-width: 5px;
    max-width: 100vw;
    min-width: 200px;
}

.subtitle {
    margin: 2ex 0ex 0ex 0ex; /* relative unit */
    border-style: dashed;
    padding-left: 2mm; /* absolute unit */
    border-radius: 30px;
}

.altsubtitle {
    margin: auto;
    border-style: dashed;
    padding: 0lh 0lh 0lh .4lh; /* relative unit */
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(0, 128, 0, 0.3))
}

.red {
    color: rgb(255,0,0);
}

.blue {
    color: #0000FF;
}

.green {
    color: hsl(120, 100%, 25%);
}

.inline {
    display: inline;
    padding-right: 16vw;
}

.navlink {
    position: fixed;
    top: 0;
    background-color: gray;
    margin-top: -10px;
    height: 40px;
    width: 100%;
}

.PPG {
    display: inline-block;
    width: 120px;
    height: 30px;
    margin: auto;
    padding: 4px;
    text-align: center;
    border-style: solid;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.3), rgba(0, 0, 255, 0.3), rgba(0, 128, 0, 0.3))
}

#medusa {
    text-decoration: line-through;
}

a:hover {
    background-color: yellow;
}

a:active {
    background-color: white;
}

.mainimg {
    position: absolute;
    top: 9rem;
    left: 0;
    width: 100px;
    height: 50px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.body1 {
    grid-area: lside;
}

.body2 {
    grid-area: rside;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "lside lside rside rside";
    justify-items: start;
}